<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FCM Client</title>
  <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-messaging.js"></script>
  <script>
    const firebaseConfig = {
        apiKey: "AIzaSyBgCkpX0MDGNeK3rqVtrW5mlf17XmgPmK0",
        authDomain: "bo-chat-ad15e.firebaseapp.com",
        projectId: "bo-chat-ad15e",
        storageBucket: "bo-chat-ad15e.appspot.com",
        messagingSenderId: "578252843646",
        appId: "1:578252843646:web:a6cef4b6d90c62c022062f",
        measurementId: "G-4HCR5M4TQY"
    };

    firebase.initializeApp(firebaseConfig);

    const messaging = firebase.messaging();

    messaging.requestPermission()
      .then(function() {
        console.log('Notification permission granted.');
        return messaging.getToken();
      })
      .then(function(token) {
        console.log('FCM Token:', token);
        // Отправка токена на сервер для сохранения
        sendTokenToServer(token);
      })
      .catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });

    function sendTokenToServer(token) {
      fetch('/notifications/register-device', {
        method: 'POST',
        body: JSON.stringify({ token: token, user_id: 1 }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
    }
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/firebase-messaging-sw.js')
        .then(function(registration) {
          console.log('Service Worker Registered', registration);
        })
        .catch(function(err) {
          console.log('Service Worker registration failed', err);
        });
    }
    // Обработка сообщений, когда страница в фокусе
    messaging.onMessage(function(payload) {
      console.log('Message received. ', payload);
      const notificationTitle = payload.notification.title;
      const notificationOptions = {
        body: payload.notification.body,
        icon: payload.notification.icon
      };

      if (Notification.permission === 'granted') {
        new Notification(notificationTitle, notificationOptions);
      }
    });
  </script>
</head>
<body>
</body>
</html>
